<!DOCTYPE html>
<html lang="en">
<title>Weather</title>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/img/favicon-32x32.png" </head>
</head>

<body>
  <div class="main-content">
    {{>header}}
    <img class="portrait" src="/img/bali2023.jpg">
    <h1>{{intro}}</h1>
    <h1>{{hobby}}</h1>
  </div>
  {{>footer}}
</body>

</html>